.icon-link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; // Remove o sublinhado do link
  color:antiquewhite;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px; // Espaçamento entre o ícone e o texto
    font-size: 24px; // Tamanho do ícone
    background: linear-gradient(90deg, #2C00FF 0%, #CB19AF 46%, #FFB800 100%); // Gradiente no ícone
    -webkit-background-clip: text; // Para suportar o recorte do fundo
    background-clip: text; // Propriedade padrão para compatibilidade
    -webkit-text-fill-color: transparent; // Para tornar o texto transparente

  }

  &:hover {
    transform: scale(1.05);
    color: #ff0890;
  }

  @media (max-width: 410px) { // Ajuste o valor conforme necessário
    display: none; // Oculta o botão em dispositivos móveis
  }
} 