.logo-container {
    position: relative;
    width: 80px; // Ajuste conforme necessário
    height: 40px;
    cursor: pointer;

    align-items: center;
    .logo {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .logo-open {
      clip-path: inset(0);
      opacity: 0;
    }
    @media (max-width: 768px) { // Ajuste o valor conforme necessário
      .logo-open {
        opacity: 1; // Mantém a logo visível em dispositivos móveis
      }
    }
    &:hover {
      .logo-min {
        opacity: 0;
      }
      .logo-open {
        opacity: 1;
      }
    }
  }
